.chat{
	
}

.chat-message{
	border: 1px solid #E7E7E7;
	overflow: hidden;
    overflow-y: auto;
	flex: 1 1 100%;
    position: relative;
    height: 300px;
}

.chat-message::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.chat-message::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #76e09d;
}

.chat-users{

}

.chat-room-name{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-bottom: 3px solid #2a3e59;
}

.chat-users-item{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-size: 1.2em;
}

.chat-message-user-your{
	text-align: left;
	background-color: #F5F5F5;
	border: 1px solid #E7E7E7;
	padding-left: 10px;
}

.chat-message-user-me{
	text-align: right;
	background-color: #fff;
	border: 1px solid #E7E7E7;
	padding-right: 10px;
}

.chat-btn-send{
	color: #76e09d;
	font-size: 18px;
	border: none;
	background-color: transparent;
	font-weight: bold;
}

.chat-head{
	color: #fff;
	background-color: #37639B;
	padding-left: 1.5em;
}
