@media(max-width:576px){
	
}
@media(min-width:576px){
	#main_video{
		height: 170px;
	}

	.localVideo{
		height: 60px;
	}
	.local-name{
		font-size: 1px;
	}
}
@media(min-width:768px){
	#main_video{
		height: 250px;
	}
	.localVideo{
		height: 80px;
	}
	.local-name{
		font-size: 4px;
	}
}
@media(min-width:992px){
	#main_video{
		height: 300px;
	}
	.localVideo{
		height: 120px;
	}
	.local-name{
		font-size: 12px;
	}
}
@media(min-width:1200px){
	#main_video{
		height: 370px;
	}
	.localVideo{
		height: 170px;
	}
	.local-name{
		font-size: 14px;
	}
}
.vdo-main{
	margin-bottom: 10%;
}
.vdo-local{
	margin: 0;
	overflow: hidden;
}

.vdo-local div{
	margin: 0;
	padding: 0;
}


#main_video{
	width: 100%;
	background-color: #A3A3A3;
}

.localVideo{
	width: 97%;
	background-color: #A3A3A3;
}

#vdo-box2{
	
}

#vdo-box2 video{
	box-sizing: border-box;
	
}

.vdo-bg{
	background-color: #fff;
}

.vdo-container{
	padding-top: 5%;
	padding-bottom: 5%;
}

.vdo-ht{
	height: 600px;
}

.icon-online{
	color: #67DE27;
	padding-top: 5%;
}
.span-online{
	font-size: 16px;
	padding-top: 5%;
}
.vdo-user{

}
.list-users{
	padding-top: 20px;
}

#call-user-div{
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}


.load-time{
	margin: auto;
	width: 10%;
}
.load-time img{
	width: 100%;
}

