html{
	height: 100%;
}
@media(max-width:576px){
	.i-size{
		display: none;
	}
}
@media(min-width:576px){
	
}
@media(min-width:768px){
	.i-size{
		font-size: 16px;
		text-align: center;
	}
	.i-size-user{
		font-size: 16px;
		text-align: center;
	}
}
@media(min-width:992px){
	.i-size{
		font-size: 20px;
		
	}
	.i-size-user{
		font-size: 28px;
	}
}
@media(min-width:1200px){

}

.i-size{
	vertical-align: middle;
	box-sizing: border-box;
	padding-left: 10px;
}
.i-size-user{
	vertical-align: middle;
}

.show-img-main{
	display: block;
	border: 1px solid black;
	height: 100%;
	overflow: hidden;
}

/* margin set */
.zero-margin-padding{
	margin: 0;
	padding: 0;
}

.zmp{
	margin: 0;
	padding: 0;
}

@media(min-width:992px){
	.pl-5{
		padding-left: 5px;
	}

	.pr-5{
		padding-right: 5px;
	}
}

.pl-stc-20{
	padding-left: 1.250em;
}
.m-0{
	margin: auto 0;
}
.p-0{
	padding: 0;
}
.p-10{
	padding: 10px;
}
.pt-10{
	padding-top: 10px;
}
.pt-5{
	padding-top: 10px;
}
.rpt-20{
	padding-top: 1.25rem;
}
.max-width{
	width: 100%;
}
.m-h{
	height: 100%;
}
.width-150{
	width: 150px;
}
.width-100{
	width: 100px;
}
.height-50{
	height: 50px;
}
.margin{
	margin: 0 auto;
}
.margin-top-5{
	margin-top: 5px;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-top-15{
	margin-top: 15px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-top-30{
	margin-top: -60px;
}
.margin-bottom-5{
	margin-bottom: 5px;
}
.margin-bottom-10{
	margin-bottom: 10px;
}
.margin-bottom-15{
	margin-bottom: 15px;
}
.margin-bottom-20{
	margin-bottom: 20px;
}
.margin-left-5{
	margin-left: 5px;
}
.margin-left-10{
	margin-left: 10px;
}
.margin-left-15{
	margin-left: 15px;
}
.margin-left-20{
	margin-left: 20px;
}
.margin-right-5{
	margin-right: 5px;
}
.margin-right-10{
	margin-right: 10px;
}
.margin-right-15{
	margin-right: 15px;
}
.margin-right-20{
	margin-right: 20px;
}
/* End */
/* div set width */
.width-300{
	width: 300px;
}
/* End */
/* border */
.b{
	border: solid 1px;
}

.b-r-5{
	border: solid 1px;
	border-radius: 5px;
}
.border-remove{
	border: none;
}
.border-bottom-solid-1{
	border-bottom: 1px solid gray;
}
/* End */
.contact-box-video{
	display: none;
}

.contact-box-video-logout{
	cursor: pointer;
}

.contact-box-video-logout:hover{
	color: #36D398;
}

.bg-video{
	background-color: #CCCCCC;
}

.img35-30{
	width: 35%;
	height: 30%;
}

.cursor-li li{
	cursor: pointer;
}

.cursor-li li:hover {
	color: #64c583;
}

.active-li{
	color: #64c583;
}

.flex-container{
	display: flex;
  	flex-direction: column;
}
.flex-container-row{
	display: flex;
  	flex-direction: row;
}

.text-light{
	color: white;
}

.bg-def{
	background-color: #2a3e59;
}
/*///////////*/
/*  Profile  */
/*///////////*/
.profile-bg{
	background-color: white;
	border-radius: 20px;
}

.profile-body{
	margin-left: auto;
	margin-right: auto;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
	width: 70%;
	background-color: #fff;
	/*background-color: #314152;*/
	/*background-image: url('https://www.img.in.th/images/05f29f7d188b4f43990dd3daa39390c1.jpg');*/
	background-size: cover;
	overflow: hidden;
	border: none;
	border-radius: 10px;
}
.profile-body span{
	color: #000;
}
.profile-form-group{
	box-sizing: border-box;
}
.profile-form-group i{
	color: red;
}
.profile-form-group input{
	width: 100%;
	padding: 5px;
	border: none;
	border: 1px solid #CBCBCB;
	border-radius: 5px;	
}
.profile-form-group textarea{
	width: 100%;
	padding: 5px;
	border: none;
	border: 1px solid #CBCBCB;
	border-radius: 5px;
	height: 200px;	
}
.profile-form-group input:focus{
	border: 1px solid #82ca9c;
	transition-duration: 0.5s;
}
.profile-form-group select{
	width: 100%;
	padding: 5px;
	border: none;
	border: 1px solid #CBCBCB;
	border-radius: 5px;	
}
.profile-form-group select:focus{
	border: 1px solid #82ca9c;
	transition-duration: 0.5s;
}
.profile-btn{
	color: #fff;
	background-color: #0e7cd1;
}
.profile-btn:hover{

}
.profile-img{
	border-radius: 1.5rem;
	width: 100%;
	background-color: gray;
}

.profile-menu{
	
	padding: 0px 0px 0px 0px;

}

.profile-menu li{
	font-size: 1.2em;
}

.profile-menu li:hover{

	padding-left: 16px;
	transition-duration: 0.5s;
}


.profile-menu li a{
	padding: 8px 0px 8px 6px;
	display: block;
}

.profile-menu li a:hover{
	color: white;
}

.profile-menu li a i{
	padding: 0px 0px 0px 0px;
	width: 1.5em;
	
}


/* END Profile */

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 8px;
  border: 2px solid gray;

}

.choose-btn {
  border: none;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn{
	color: white;
	border: solid 1px #0e7cd1;
	border-radius: 8px;
	padding: 8px 20px;
	background-color: #0e7cd1;
}

.upload-file-select{
	color: #FF4040;
}

.upload-file-yes{
	color: #AFF53D;
}

.upload-file-no{
	color: #FF4040;
}

.text-error{
	color: #F63C3C;
}

.btn-r-t{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.btn-r{
	border-radius: 20px;
}

/* research */
.btn-remove{
	border: none;
	background-color: transparent;
	color: red;
}
.btn:hover{
	color: #fff;
}
.btn-res{
	
}
.btn-res a{
	border: none;
	color: white;
	background-color: #0e7cd1;
	padding : 0.3em 3em 0.3em 3em;
	border-radius: 5px;
}
.btn-res button{
	border: none;
	color: white;
	background-color: #0e7cd1;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 15px;
	outline: none;
}
.table-bg{
	background-color: #F5F6F8;
	border-radius: 10px;
	padding: 10px;
}
.table-add-res{
	border-collapse: collapse;
}
.table-add-res td{
	width: 180px;
	padding-bottom: 15px;
}
.table-add-res #ptr2 select{
	width: 79.5px;
}
.table-add-res input[type=text]{
	width: 250px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 5px;
	border: 1px solid #CFCFCF;
	border-radius: 5px;
}
.table-add-res input[type=date]{
	width: 250px;
	padding-left: 5px;
	border: 1px solid #CFCFCF;
	border-radius: 5px;
}

.div-add-re-1{
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}
.div-add-re-1 table{
	
}
.div-add-re-2 input{
	width: 120px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	color: white;
	background-color: #64c583;
	border-radius: 5px;
}
.div-add-re-2 div{
	width: 130px;
	margin-left: auto;
	margin-right: auto;
}

.t-r{
	text-align: right;
}

.show-bg{
	background-color: #F5F6F8;
	border-radius: 10px;
	padding: 20px;
}
.show-back a{
	padding: 0.2em 3em 0.2em 3em;
	color: #fff;
	background-color: #0e7cd1;
	border-radius: 15px;
}
.show-div-text div{
	padding-top: 15px;
	padding-bottom: 15px;
}
.show-head{
	font-weight: bold;
}
.show-head-top{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 26px;
	border-bottom: 2px solid #2a3e59;
	display: block;
}

.show-img{
	width: 100%;
}

.show-b{
	font-size: 1.2em;
}
.show-b:hover{
	color: #fff;
}

@media(min-width:768px){
	.show-size-font-content{
		font-size: 1.18em;
	}
}

/*  ----------------  */
/*  LOGIN  			  */
/*  ----------------  */
@media(max-width:576px){
	.login-input{
		width: 100%;
	}
	.login-container{
		margin-top: 30px;
		width: 100%;
	}
}
@media(min-width:576px){
	
}
@media(min-width:768px){
	
}
@media(min-width:992px){
	.login-input{
		width: 240px;
	}
	.login-btn{
		width: 240px;
	}
	.login-container{
		margin-top: 100px;
		width: 800px;
	}
}
@media(min-width:1200px){

}
.login-container{
	overflow: hidden;
	background-color: #F5F6F8;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	padding-top: 15%;
	padding-bottom: 15%;
}
.login-span{
	width: 100%;
	display: block;
	padding: 5px;
	box-sizing: border-box;
}
.login-img{
	text-align: center;
}
.login-img img{
	width: 90%;
	min-width: 200px;
	
}
.login-head{
	text-align: center;

}
.login-head label{
	font-size: 18px;
}
.login-icon{
	position:absolute;
	top: 13px;
	left: 10px;
}
.login-input input{
	background-color: #E6E6E6;
	display: block;
	width: 100%;
	padding-left: 40px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	border-radius: 20px;
	color: #808080;
	
}
.login-input input{
	font-size: 14px;
}
.login-input input::placeholder{
	font-size: 14px;
	color: #808080;
}

.login-input{
	margin-left: auto;
	margin-right: auto;
	position:relative;
}
.login-btn{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	box-sizing: border-box;
}
.login-btn input{
	border: 1px solid #314152;
	background-color: transparent;
	color: #314152;
	border-radius: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-sizing: border-box;
	width: 100%;
	font-size: 14px;
}
.login-btn input:hover{
	color: #fff;
	background-color: #314152;
	transition-duration: 0.2s;
}

.login-error{
	color: #F63C3C;
	text-align: center;
}



/*  ----------------  */
/*  END LOGIN  			  */
/*  ----------------  */

.main-activities{
	margin-top: -80px;
	margin-bottom: 50px;
}

.main-activities-table{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.main-activities-tr{
	
}

.main-activities-head{
	font-size: 24px;
	padding-bottom: 10px;
}

.d-join input{
	border: none;
	color: white;
	background-color: rgba(0, 190, 62, 0.75);
}

.d-logout{
	display: none;
}

.hide{
	display: none;
}

.show{
	display: block;
}

.main-name{
	color: white;
}

/* ---------- */
/* VIDEO CALL */
/* ---------- */


.video-container{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	overflow: hidden;
	display: block;
}
.video-container-users{
	height: auto;
	padding: 0;
	margin: 0;
}
.video-container-users-div1{
	height: 38px;
	vertical-align: middle;
}
.video-container-users-div1 span{
	color: #7a7a7a;
	vertical-align: middle;
}
.video-container-users-div2{
	color: #7a7a7a;
	text-align: right;
}
.video-j-refresh{
	border: none;
	background-color: transparent;
	font-size: 24px;
}
.video-form-btn{
	text-align: right;
}
.video-form-btn button{
	display: inline;
	width: 100%;
	padding: 10px 0px 10px 0px;
}
.video-btn-a{
	outline: none;
	border: 3px solid #37639B;
	color: #37639B;
	border-radius: 10px;
	background-color: transparent;
}
.video-btn-a:hover{
	color: #fff;
	background-color: #37639B;
}
.video-btn-accept{
	outline: none;
	border: 3px solid #52D30D;
	color: #52D30D;
	border-radius: 10px;
	background-color: transparent;
	width: 120px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.video-btn-accept:hover{
	color: #fff;
	background-color: #52D30D;
}
.video-btn-decline{
	outline: none;
	border: 3px solid #DD1A1F;
	color: #DD1A1F;
	border-radius: 10px;
	background-color: transparent;
	width: 120px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.video-btn-decline:hover{
	color: #fff;
	background-color: #DD1A1F;
}

.video-btn-b{
	outline: none;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 3px solid #37639B;
	border-radius: 15px;
	color: #fff;
	background-color: #37639B;
	width: 100px;
}
.video-j-user{
	display: block;
	color: #3d3d3d;
	border: 1px solid #787878;
	border-radius: 5px;
	background-color: transparent;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	outline: none;
	margin-bottom: 5px;
}
.video-j-user:focus{
	outline: none;
}

.video-j-user-active{
	border: 1px solid #FF9200;
}
.video-load{
	display: none;
}

.video-hide{
	display: none;
}
/* ---------- */


/* Add Publish */

.publish-container{
	position: fixed;
	padding-top: 80px;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none;
}
.publish-content{
	border-radius: 20px;
	margin: auto;
	width: 400px;
	padding: 20px 50px 50px 50px;
	background-color: #F5F6F8;
}

.publish-content input[type="text"]{
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	border: 1px solid #AFAFAF;
	width: 100%;
	
}

.publish-content input[type="number"]{
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	border: 1px solid #AFAFAF;
	width: 100%;
	
}

.publish-content .p_status{
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	border: 1px solid #AFAFAF;
	width: 100%;
	outline: none;
}
.publish-content .publish-la1{
	width: 49%;
}
.publish-content .publish-sele1{
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	border: 1px solid #AFAFAF;
	width: 49%;
	outline: none;
}

.publish-head{
	font-size: 22px;
	border-bottom: 2px solid #2a3e59;
}
.publish-add{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 49%;
	color: #fff;
	border: none;
	border-radius: 15px;
	background-color: #0e7cd1;
	outline: none;
}
.publish-close{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 49%;
	color: #fff;
	border: none;
	border-radius: 15px;
	background-color: #F04040;
	outline: none;
}
.publish-icon{
	background-color: #0e7cd1;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 8px;
}
.research-container-st{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 80px;
	padding-bottom: 80px;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.research-content-st{
	border-radius: 15px;
	margin: auto;
	width: 400px;
	padding: 20px 50px 50px 50px;
	background-color: #F5F6F8;
}
.research-content-st input[type="text"]{
	width: 100%;
	padding-left: 10px;
	border: 1px solid #AFAFAF;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.research-content-st select{
	width: 100%;
	padding-left: 10px;
	border: 1px solid #AFAFAF;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.research-head-st{
	border-bottom: 2px solid #2a3e59;
	font-size: 22px;
}

.research-btn-st{
	border-radius: 15px;
	border: none;
	width: 140px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.research-begin-st{
	width: 30%;
	border-radius: 5px;
	border: 1px solid #AFAFAF;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.research-end-st{
	width: 30%;
	border-radius: 5px;
	border: 1px solid #AFAFAF;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.research-pad-1{
	padding-left: 25%;
}
.research-pad-2{
	padding-left: 25%;
}
.research-pad-1 label{
	width: 30%;
}
.research-submit-st{
	color: #fff;
	background-color: #0e7cd1;
}
.research-close-st{
	color: #fff;
	background-color: #F04040;
}

.re-show-edit-container{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 80px;
	padding-bottom: 80px;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.re-show-edit-content{
	border-radius: 15px;
	margin: auto;
	width: 400px;
	padding: 20px 50px 50px 50px;
	background-color: #F5F6F8;
}

.re-show-edit-content input[type="text"]{
	width: 100%;
	padding-left: 10px;
	border: 1px solid #AFAFAF;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.re-show-edit-content select{
	width: 100%;
	padding-left: 10px;
	border: 1px solid #AFAFAF;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}


