.admin-menu-home a:hover{
	color: white;
	background-color: #70d896;
	padding-left: 1.5rem;
}

.form-control::placeholder{
	font-size: 1rem;
}

html,body{
	height: 100%
}

.max-height{
	height: 100vh;
}

.t-l{
	text-align: left;
}

.p-0{
	padding: 0;
}

.p-10{
	padding: 10px;
}

.p-5{
	padding: 5px;
}

.p-l-40{
	padding-left: 40px;
}

.bg-w{
	background-color: white;
}

.b-n{
	border: none;
}

.b-r{
	border-radius: 5px;
}

.error{
	color: #F73A3A;
}

.admin-btn-sub{
	background-color: #006dcc;
	outline: none;
	text-decoration: none;
}

.admin-btn-sub:hover{
	color: white;
}


.color-white{
	color: white;
}

.color-link{
	color: #FF0000;
}
/* admin menu */

.admin-menu-btn{
	border: 1px solid #324968;
	outline: none;
}

.admin-menu-btn:hover{
	color: #76e09d;
	border-left: 5px solid #76e09d;
	background: #283c56;
}

.admin-menu-btn:focus{
	color: white;
	border-left: 5px solid #70d896;
	background: #70d896;
}

.admin-menu-bg{
	background-color: #324968;
}


/* end */

.error-input{
	border: 2px solid #FF7373;
}

.succ-input{
	border: 2px solid #A7F789;
}

.pos-re{
	position: relative;
	
}

@media(min-width:768px){
	.admin-top-bar{
		display: none;
	}
	.admin-menu{
		display: block;
	}
}

@media(max-width:767px){
	.admin-menu{
		display: none;
	}
}

@media(min-width:992px){
	.max-height-media{
		height: 100vh;
	}	
}

@media(max-width:991px){
	.max-height-media{
		
	}	
}



.admin-display-center{
	display: flex;
	align-items: center;
  	justify-content: center;
}



/* TEST */
.t-align-b{
	align-self: flex-end;
}

.t-process{
	
}

.t-block{
	display: block;
}
